@import "mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&subset=latin-ext');

.Rubik {font-family:'Rubik', sans-serif;}
.Novecentosanswide-Book {font-family:Novecentosanswide-Book;}
.Novecentosanswide-Light {font-family:Novecentosanswide-Light;}
.Novecentosanswide-Normal {font-family:Novecentosanswide-Normal;}

$color-1:#455560;
$color-2:#4d565d;
$active:#8995D5;
$gray1:#636363;
$gray2:#f0f0f0;
$twitter:#50abf1;
$fb:#3a559f;

$font-stack:Novecentosanswide-Light, sans-serif, Arial;
$font-h3:Rubik;

body {text-align:left; font-family:$font-stack;}

h1 {font-size:80px; color:$color-1;}
h2 {margin-top:0; font-size:14px; color:$color-2;}
h3 {text-align:left; font-family:$font-h3; font-size:18px; color:$color-2;}


/*NAVBAR START*/
.navbar {max-width:1920px; top:0; margin:0 auto; padding:0; border:0; background-color:#fff; text-align:center; @include box-shadow(-1px 5px 45px, rgba(0,0,0,0.75));
  .nav-col {
		.navbar-header {height:60px;
			.navbar-toggle {border:none;
				&:focus, &:active, &:hover {background-color:transparent; outline:none;}
			}
			.navbar-brand {
				img {display:inline; height:2rem;}
			}
		}
		.navbar-collapse {
			.navbar-right {
				li, li.active {
					a {padding:0 15px; line-height:60px; font-size:16px; background-color:#fff; color:#000; font-weight:900; @include transition(all, 0.5s);}
				}
				li {
					a {color:blue; @include transition(all, 0.5s ease-out);
						&:hover {color:green;}
					}
				}
				li.active {
					a:hover {color:red;}
				}
			}
		}
  }
}
@media (min-width:768px) {
  .navbar-static-top {position:fixed; top:0; right:0; left:0;}
}

/* TOP SECTION */
#home {max-width:1920px;
  .background-top {position:relative; height:1080px; background:url('../img/background-top.jpg') 50% 50% no-repeat;
		.caption-container {height:100%; text-align:center;
			h1 {position:relative; top:30%; text-align:center; color:#fff;}
		}
  }
}
@media (max-width:767px) {
	#home {
		.background-top {height:500px;
			.caption-container {height:100%; text-align:center;
				h1 {font-size:60px;}
			}
		}
	}
}
@media (min-width:768px) and (max-width:991px) {
	#home {
		.background-top {height:700px;}
	}
}


/* PERSONAL DEVELOPMENT SECTION */
#mid-section {max-width:1920px; margin:0 auto;
	.mid-row {padding-top:40px; padding-bottom:15px;
		.col-sm-2 {
			.text-col {text-align:right;
				h2 {font-size:10px; margin-top:0;}
				p {font-weight:700; color:#000;}
				a {color:#9b9b9b;}
			}
			.col-right {text-align:left;}
		}
		.image-box {
			a {
				.img100 {width:100%;}
				h3 {text-align:left; font-size:18px; overflow:hidden;}
			}
			.article-footer {padding-left:0; text-align:left;
				.rating-box, .social, .info-box {display:inline-block; vertical-align:middle;}
				.rating-box {margin:0 0 0 8px;
					.rating {text-align:left; font-size:10px; font-weight:700;}
					.star-ratings-sprite {background:url("../img/sprite-stars.png") repeat-x; height:11px; width:60px; margin:0 auto; font-size:0;
																line-height:0; overflow:hidden; text-indent:-999em;
						&-rating {background:url("../img/sprite-stars.png") repeat-x; float:left; display:block; height:11px; background-position:0 100%;}
					}
				}
				.social {margin:0 0 0 8px; font-size:33px;
					.fa-twitter-square {color:$twitter;}
					.fa-facebook-official {color:$fb;}
					a:hover {text-decoration:none;}
				}
				.info-box {background-color:#fff; font-size:12px; border:1px solid $gray1; @include opacity(0.9); color:$gray1;
					.comment-count, .img-responsive, .date {display:inline-block; padding:5px 6px;}
				}
			}
		}
  }
}
@media (max-width:767px) {
	#mid-section {
		.mid-row {
			.col-sm-2 {
				.text-col {padding-top:10px; text-align:center;
					h2 {text-align:center; font-size:24px;}
				}
			}
		}
	}
}

/* FOOTER */
#footer {position:relative; top:120px; max-width:1920px; margin:0 auto; background-color:$gray2;
  .nav-tabs {height:54px; background-color:$gray2; border-bottom:1px solid #dedede;
		.active a {height:53px; padding:0 20px; border:0 !important; @include border-radius(0 !important); background-color:transparent; color:$active;}
		a {padding:0 20px; line-height:53px; font-size:14px; @include border-radius(0 !important); border:0 !important; font-weight:600; text-transform:uppercase;
			background-color:transparent; color:#000; @include transition(all, 0.5s);
				&:hover {color:blue;}
		}
	}
  .bottom-menu {border-bottom:1px solid #dedede;
		ul {list-style-type:none; padding-left:5px;
			a {font-size:14px; font-weight:500; color:$gray1;}
		}
  }
  .row {margin-left:0; margin-right:0;}
	.links {padding-left:15px; margin-bottom:0;
		li {display:inline-block; list-style-type:none; padding:30px 15px 15px 0;
			a {font-size:12px; color:#000; font-weight:500;}
		}
  }
	.cookies-col {padding-bottom:60px;
		.cookies, .copyright {font-size:12px; color:$gray1;}
		.cookies {padding-bottom:30px;
			span {text-decoration:underline; font-weight:700; color:#000;}
		}
  }
}
@media (max-width:991px) {
	#footer {
		.nav-tabs {display:inline-block; text-align:center; border:none;
			li {float:none; display:inline-block;}
		}
		.bottom-menu {
			ul {text-align:center;}
		}
		.links {text-align:center;
			li {padding:10px;
			}
		}
	}
}
.alert-cookie {position:fixed; display:none; left:25px; bottom:55px; max-width:380px; padding-right:20px; margin-bottom:0; background-color:#000;
							color:#fff; font-size:12px; z-index:1000; opacity:0.8;
  .close {position:absolute; right:2px; top:-6px; color:#fff; opacity:1; font-size:40px;}
}

@media (max-width: 480px){
  .alert-cookie {left:15px; right:15px; bottom:10px; max-width:480px;}
}


